{% extends 'blogs/base.html' %}
{% load static %}
{%block title%} ProBlogs-Home {%endblock%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{%endblock%}


{% block content %}
<header class="bg-header py-5">
    <div class="container text-center text-white">
        <h1 class="display-4 fw-bold">Keep Exploring.</h1>
        <p class="lead">Discover programming blogs,</p>
        <p class="lead">Learn from knowledge all over the world.</p>
        <div class="pt-4">
          {% if user.is_authenticated %}
            <a class="btn btn-light btn-lg rounded-pill" href="#">Start Exploring</a>
          {% else %}
            <a class="btn btn-light btn-lg rounded-pill" href="/login">Get Started</a>
          {% endif %}
        </div>
    </div>
</header>
<hr class="border border-black border-1 opacity-100 p-0 m-0">

<!-- ----------------------------------------------------------------------- -->

<section>
    <div class="container mt-5 mb-3">
        <h4 class="fw-bold"> <img src="../../media/logo/trending_icon.png" alt="trending-section" class="trending-img">Trending Section</h4>
        <div class="grid-container grid-layout">
            {% for post in top_posts %}
                <div class="grid-item p-3 d-flex flex-column bg-light">
                    <a href="/blogs/{{post.post_url}}" class="trending-link">
                        <div>
                            <span class="fs-2 fw-bold text-muted-light">{{ forloop.counter }}&nbsp;</span>
                            <!-- <img src="/media/{{category.image_cat}}" class="img-fluid rounded img-cat" alt="{{category.title}} Image"> -->
                            <span class="text-muted">{{ post.post_author }} in {{ post.category_name }}</span>
                        </div>
                        <p class="fw-bold">{{ post.title | truncatewords:15 }}</p>
                        <!-- <p class="text-muted">{{ post.content|truncatewords:25 }}</p> -->
                    </a>
                    <div class="mt-auto">
                        <div class="text-end d-flex justify-content-between">
                            <span class="text-muted-light text-sm">{{post.post_created_at}}</span>
                            <div>
                                <img src="../../media/logo/like-icon.jpg" alt="like-icon" class="like_icon">
                                <span class="badge bg-dark">{{post.likes.count}}</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<hr class="border border-black border-1 opacity-30">

<!-- ------------------------------------------------------------------------ -->
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- First section: All posts -->
        <section>
          {% for post in posts %}
          <div class="card m-3 shadow">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="/blogs/{{post.post_url}}" class="post-link">
                  <img src="/media/{{ post.image_post }}" class="img-fluid rounded img-post" alt="{{ post.title }} Image">
                </a>
              </div>
              <div class="col-md-8">
                <a href="/blogs/{{post.post_url}}" class="post-link">
                  <div class="card-body">
                    <p class="text-muted-light">Written by {{ post.post_author }} on {{post.post_created_at}}</p>
                    <h5 class="card-title fw-bold">{{ post.title | truncatewords:15 }}</h5>
                    <p class="card-text">{{ post.content | truncatewords:20 | safe}}</p>
                    
                  </div>
                </a>
                <div class="mt-auto mb-3 mx-3 my-3">
                    <div class="text-end">
                      <img src="../../media/logo/like-icon.jpg" alt="like-icon" class="like_icon">
                      <span class="badge bg-dark">{{post.likes.count}}</span>
                      <span class="badge " style="background-color: purple
                      ; color: whitesmoke;">{{ post.category_name }}</span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
      <div class="col-md-4">
        <!-- Second section: Categories and footer-->
        <section class="fixed-section">
            <div>
              <p class="fw-bold">Discover the topics that pick your interest.</p>
            </div>
            <div class="grid-container grid-layout">
              {% for cat in category %}
              <a href="/category/{{cat.cat_url}}" class=" badge cat-link grid-item" style="background-color: purple
              ; color: whitesmoke;">
                {{ cat.title }}
              </a>
              {% endfor %}
            </div>
          </section>
      </div>
    </div>
  </div>
  


  <footer class="footer" style="background-color: purple; color: whitesmoke; position: relative; bottom: 0; padding: 20px 0; width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p>&copy; 2023 ProBlogs. All rights reserved.</p>
        </div>
        <div class="col-lg-6 d-flex justify-content-between align-items-center">
          <ul class="footer-menu d-flex justify-content-between w-100" style="list-style: none;">
            <li><a href="/" class="text-white" style="text-decoration: none;">Home</a></li>
            <li><a href="/about" class="text-white" style="text-decoration: none;">About</a></li>
          </ul>
        </div>
        <div class="text-center">Made with &hearts; by Anish Singh</div>
      </div>
    </div>
  </footer>
{% endblock %}